<div class="container-fluid">

  <div class="row">
    <div class="col-md">
      <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputPassword2" class="sr-only">Login</label>
          <input type="text" class="form-control" id="login" name="login" [(ngModel)]="login"
            placeholder="pesquisa por login">
        </div>
        <button type="button" (click)="consultaPorLogin()" class="btn btn-primary mb-2">Buscar</button>
      </form>
      <br />
      <br />
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Login</th>
            <th scope="col">Deletar</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuariosList">
            <td>{{usuario.id}}</td>
            <td>{{usuario.login}}</td>
            <td>{{usuario.nome}}</td>
            <td><button (click)="deleteUsuario(usuario.id)" class="btn btn-primary">Delete</button></td>
            <td><button (click)="editarUsuario(usuario.id)" class="btn btn-warning">Editar</button></td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
