<div class="container-fluid">

  <div class="row">
    <div class="col-md">
      <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputPassword2" class="sr-only">Titulo</label>
          <input type="text" class="form-control" id="titulo" name="login" [(ngModel)]="titulo"
            placeholder="pesquisa por titulo">
        </div>
        <button type="button" (click)="consultaPorTitulo()" class="btn btn-primary mb-2">Buscar</button>
      </form>
      <br />
      <br />
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col">Autor</th>
            <th scope="col">Ano</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let livro of livrosList">
            <td>{{livro.id}}</td>
            <td>{{livro.titulo}}</td>
            <td>{{livro.autor}}</td>
            <td>{{livro.ano}}</td>
            <td><button (click)="deleteLivro(livro.id)" class="btn btn-primary">Delete</button></td>
            <td><button (click)="editarLivro(livro.id)" class="btn btn-warning">Editar</button></td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
