<form >

  <div class="form-group">

     <h3>Login do sistema</h3>
  </div>

  <div class="form-group">
    <label for="login">E-mail:</label>
    <input type="email" class="form-control" #email="ngModel"  [(ngModel)] = "usuario.login"  id="login" name="login"   required>
    <div *ngIf="email.invalid" class="alert alert-danger">
       Login deve ser informado
    </div>

  </div>

  <div class="form-group">
    <label for="senha">Senha:</label>
    <input type="password" class="form-control" #senha="ngModel"  [(ngModel)]="usuario.senha" id="senha" name="senha"  required>
     <div *ngIf="senha.invalid" class="alert alert-danger">
       Senha deve ser informada
    </div>
  </div>

  <button type="button" [disabled]="email.invalid || senha.invalid" class="btn btn-primary" (click)="login()"  >Acessar</button>
</form>
