<div class="d-flex" id="wrapper">

  <app-sidebar></app-sidebar>

  <div id="content">
    <app-navbar></app-navbar>

    <app-livro></app-livro>
  </div>



</div>
<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });


</script>
