        <!-- Sidebar  -->
        <nav id="sidebar">
          <div class="sidebar-header">
            <h5>Biblioteca Mar Alto</h5>
          </div>

          <ul class="list-unstyled components">
            <li class="active">
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-home"></i>
                Cadastros
              </a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                  <a href="#" [routerLink]="[ '/usuariosList']">Usuarios</a>
                </li>
                <li>
                  <a href="#">Livros</a>
                </li>
                <li>
                  <a href="#">Autores</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">
                <i class="fas fa-briefcase"></i>
                About
              </a>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-copy"></i>
                Pages
              </a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                  <a href="#">Home</a>
                </li>
                <li>
                  <a href="#">Page 2</a>
                </li>
                <li>
                  <a href="#">Page 3</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">
                <i class="fas fa-image"></i>
                Portfolio
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fas fa-question"></i>
                FAQ
              </a>
            </li>
            <li>
              <a (click)="sair()">
                <i class="fas fa-paper-plane"></i>
                Sair
              </a>
            </li>
          </ul>

          <ul class="list-unstyled CTAs">
            <li>
              <a href="#" class="download">Download source</a>
            </li>
            <li>
              <a href="#" class="article">Back to article</a>
            </li>
          </ul>
        </nav>
